{% load static %}

<!DOCTYPE html>

    {% block head %}
        <head>
            <link rel="stylesheet" type="text/css" href="{% static "semantic/dist/semantic.min.css" %}">
            <link rel="stylesheet" type="text/css" href="{% static "login.css" %}">
            <script
                src="https://code.jquery.com/jquery-3.1.1.min.js"
                integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
                crossorigin="anonymous">
                </script>
            <script src="{% static "semantic/dist/semantic.min.js" %}">
            </script>    
        </head>
    {% endblock %}

    <body>
        <div class="ui center aligned grid" id="full">
            <div class="ui segment" id="wrapper">
                <div class="ui padded text center aligned container segment">
                    <img src="{% static "assets/forum-blog-logo.png" %}" alt="No photo!">
                </div>
                <div class="ui padded text container inverted segment">
                    {% block body %}

                    {% endblock %}
                </div>
            </div>
        </div>
    </body>
</html>
