{% extends "./landing.html" %}

{% block body %}
    <div class="ui placeholder segment">
        <div class="ui two column very relaxed stackable grid">
        <div class="column">
            <form method="POST">
                {% csrf_token %}
                <div class="ui form">

                <!-- USERNAME -->
                <div class="field">
                    <label>Username</label>
                    <div class="ui left icon input" type="username" name="username" placeholder="username">
                        <i class="user icon"></i>
                        <input type="username" name="username" placeholder="Username">
                    </div>
                </div>

                <!-- PASSWORD -->
                <div class="field">
                    <label>Password</label>
                    <div class="ui left icon input" type="password" name="password" placeholder="Password">
                        <i class="lock icon"></i>
                        <input type="password" name="password" placeholder="Password">
                    </div>
                </div>

                {% if loginSuccess == False %}

                <div class="ui inverted red segment">
                    <i class="exclamation triangle"></i>
                    <p>Incorrect username or password.</p>
                </div>

                {% endif %}

                <button type="submit" class="ui blue submit button">Login</button>

                </div>
            </form>
        </div>
        <div class="middle aligned column">
            <a href="/login/signup">
                <button class="ui big button">
                <i class="signup icon"></i>
                Sign Up
                </button>
            </a>
        </div>
        </div>
        <div class="ui vertical divider">
        Or
        </div>
    </div>
{% endblock %}



